<div class="video"></div>

<p class="title">About the Miss Black America Pageant</p>
<br style="clear:both">
<p class="text">
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ullam, quidem mollitia dolorem in iusto laboriosam ea quo similique fugiat velit magni nulla ad praesentium explicabo labore expedita distinctio nesciunt.</span>
	<span>Alias, voluptatibus, inventore, rem maiores veniam et deleniti esse provident reprehenderit fugiat temporibus iste dolor iusto aspernatur molestiae praesentium laboriosam beatae tempore. Alias amet et dolorem ea architecto quos voluptate.</span>
	<span>Quod, et, adipisci, quas reprehenderit hic fuga expedita porro odio qui voluptates sit minima magnam distinctio ab nemo repellendus officiis iusto libero maxime totam molestiae accusamus saepe quasi incidunt delectus.</span>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, doloribus, ad, libero accusamus aperiam repellendus odit explicabo illum asperiores laudantium suscipit cum quos dolor repellat obcaecati quibusdam molestiae! Quisquam, ullam.</span>
	<span>Impedit, dignissimos rem optio officia recusandae molestiae fuga neque aliquam asperiores minus architecto delectus hic quae dolorem laborum ex repellendus? Ullam, facilis corporis explicabo ad amet aut vitae numquam ratione.</span>
	<span>Modi, vel enim est esse voluptas provident impedit possimus numquam reprehenderit temporibus corporis iure facilis non magni molestiae debitis eius ratione id magnam fuga tenetur expedita totam suscipit eligendi veritatis!</span>
	<span>Reiciendis quas dolore doloribus harum hic. Sed, soluta odit laudantium ut harum accusantium excepturi possimus natus? Consequuntur, temporibus, rerum earum ad sequi distinctio cupiditate voluptatem aliquid nihil assumenda accusantium esse.</span>
	<span>Aliquid, rem, beatae, suscipit deserunt doloremque facilis assumenda sequi repellat voluptatem corporis enim nemo nisi tenetur labore quia nulla expedita itaque mollitia sint ullam amet eveniet cum nesciunt eum velit.</span>
	<span>Quam, dignissimos, ipsam unde quaerat error ad repellendus doloremque expedita delectus accusantium quasi odit voluptas vero temporibus vel tenetur laboriosam repellat ipsum praesentium veritatis aspernatur doloribus sapiente impedit ut omnis.</span>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, doloribus, eligendi cupiditate facere cum corporis quibusdam provident? Deserunt culpa quidem perferendis quis quisquam et atque. Aperiam, rerum dolor minus repellat.</span>
	<span>In, voluptas, veritatis, similique, vel voluptatum repudiandae ipsam dolores earum enim natus totam commodi magni magnam nam error exercitationem autem labore temporibus perferendis obcaecati harum quas tempore pariatur voluptatem rerum!</span>
	<span>Dignissimos, adipisci, ad ex officiis quidem assumenda excepturi quibusdam hic dolore veniam sequi sapiente consectetur consequatur voluptate unde eligendi perferendis alias rerum mollitia amet error minima animi doloribus quas facere.</span>
	<span>Accusantium, quae, adipisci, rerum velit neque iure blanditiis error quis fugit quos sed laudantium tempora tenetur mollitia odio provident minima soluta suscipit rem eveniet animi voluptates quisquam ducimus officia expedita!</span>
</p>

<div class="arnice"></div>

<p class="title">Our Legacy</p>
<br style="clear:both">
<p class="text">
	<img src="/assets/miss_black_amer_v2_11.jpg" class="float-right" alt="Mr. Anderson"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ullam, quidem mollitia dolorem in iusto laboriosam ea quo similique fugiat velit magni nulla ad praesentium explicabo labore expedita distinctio nesciunt.</span>
	<span>Alias, voluptatibus, inventore, rem maiores veniam et deleniti esse provident reprehenderit fugiat temporibus iste dolor iusto aspernatur molestiae praesentium laboriosam beatae tempore. Alias amet et dolorem ea architecto quos voluptate.</span>
	<span>Quod, et, adipisci, quas reprehenderit hic fuga expedita porro odio qui voluptates sit minima magnam distinctio ab nemo repellendus officiis iusto libero maxime totam molestiae accusamus saepe quasi incidunt delectus.</span>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, doloribus, ad, libero accusamus aperiam repellendus odit explicabo illum asperiores laudantium suscipit cum quos dolor repellat obcaecati quibusdam molestiae! Quisquam, ullam.</span>
	<span>Impedit, dignissimos rem optio officia recusandae molestiae fuga neque aliquam asperiores minus architecto delectus hic quae dolorem laborum ex repellendus? Ullam, facilis corporis explicabo ad amet aut vitae numquam ratione.</span>
	<span>Modi, vel enim est esse voluptas provident impedit possimus numquam reprehenderit temporibus corporis iure facilis non magni molestiae debitis eius ratione id magnam fuga tenetur expedita totam suscipit eligendi veritatis!</span>

	<img src="/assets/miss_black_amer_v2_15.jpg" class="float-left" alt="Mr. Anderson" >

	<span>Reiciendis quas dolore doloribus harum hic. Sed, soluta odit laudantium ut harum accusantium excepturi possimus natus? Consequuntur, temporibus, rerum earum ad sequi distinctio cupiditate voluptatem aliquid nihil assumenda accusantium esse.</span>
	<span>Aliquid, rem, beatae, suscipit deserunt doloremque facilis assumenda sequi repellat voluptatem corporis enim nemo nisi tenetur labore quia nulla expedita itaque mollitia sint ullam amet eveniet cum nesciunt eum velit.</span>
	<span>Quam, dignissimos, ipsam unde quaerat error ad repellendus doloremque expedita delectus accusantium quasi odit voluptas vero temporibus vel tenetur laboriosam repellat ipsum praesentium veritatis aspernatur doloribus sapiente impedit ut omnis.</span>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, doloribus, eligendi cupiditate facere cum corporis quibusdam provident? Deserunt culpa quidem perferendis quis quisquam et atque. Aperiam, rerum dolor minus repellat.</span>
	<span>In, voluptas, veritatis, similique, vel voluptatum repudiandae ipsam dolores earum enim natus totam commodi magni magnam nam error exercitationem autem labore temporibus perferendis obcaecati harum quas tempore pariatur voluptatem rerum!</span>
	<span>Dignissimos, adipisci, ad ex officiis quidem assumenda excepturi quibusdam hic dolore veniam sequi sapiente consectetur consequatur voluptate unde eligendi perferendis alias rerum mollitia amet error minima animi doloribus quas facere.</span>
	<span>Accusantium, quae, adipisci, rerum velit neque iure blanditiis error quis fugit quos sed laudantium tempora tenetur mollitia odio provident minima soluta suscipit rem eveniet animi voluptates quisquam ducimus officia expedita!</span>
</p>

<div class="oprah">

	<img src="/assets/miss_black_amer_v2_19.jpg" alt="Picture of Oprah">

	<p class="oprah-text">Former Contestant Oprah Winfrey, Said...<br><br>

	"The Miss Black America Pageant put a flower in my mind."</span>

</div>

