/** Body, link, and other global styles **/
body {
	background: #ffffff;
	margin: 0px;
}

a {
	text-decoration: none;
}

.float-left {
	float: left;
	margin: 20px;
}

.float-right {
	float: right;
	margin: 20px;
}

/** Header CSS **/

header {
	position: fixed;
	width: 100%;
	height: 217px;
	background-color: #ffffff;
}

nav {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	height: 40px;
	margin-top: 160px;
	text-align: center;
	padding-top: 1%;
	color: #b11204;
}

nav a {
	color: #b11204;
	font-size: 22px;
	font-style: italic;
}

nav a:hover {
	color: #E83A3A;
}

.logo {
	float: left;
	margin-left: 50px;
}

.register {
	float: right;
	display: block;
	color: #b11204;
	margin-right: 80px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 22px;
	font-style: italic;
}

.button {
	width: 178px;
	height: 43px;
	display: block;
	color: #ffffff;
	background-color: #b11204;
	margin-top: 0px;
	margin-left: 60px;
	border-radius: 20px;
	text-align: center;
	font-size: 22px;
	padding-top: 9px;
	font-style: italic;
}

/** Welcome View **/

.video {
	height: 445px;
	background-color: #000000;
	margin-top: 200px;
}

.title {
	font-size: 24px;
	font-style: italic;
	color: #b11204;
	float: left;
	margin-left: 40px;
	margin-top: 50px;
	clear: both;
}

.text {
	margin-left: 40px;
	margin-right: 20px;
	font-size: 18px;
	color: #363636;
	font-family: Georgia;
}

.arnice {
	background: url(miss_black_amer_v2_08.jpg);
	background-repeat: no-repeat;
	background-color: gray;	
	height: 300px;
	width: 100%;
}

.oprah {
	background-repeat: no-repeat;
	background-color: #b11204;	
	height: 300px;
	width: 100%;
	clear: both;
}

.oprah img {
	margin-top: 60px;
	margin-left: 60px;
	box-shadow: 10px 10px 5px #171717;
	float: left;
}

.oprah-text {
	font-size: 30px;
	font-style: italic;
	color: #ffffff;
	margin-left: 600px;	
	text-align: center;	
}