/** Body, link, and other global styles **/
body {
	background: #ffffff;
}

a {
	text-decoration: none;
}

/** Header CSS **/

header {
	position: fixed;
	width: 100%;
	opacity: 0.98;
}

nav {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	height: 40px;
	margin-top: 160px;
	text-align: center;
	padding-top: 1%;
	color: #b11204;
}

nav a {
	color: #b11204;
	font-size: 22px;
	font-style: italic;
}

nav a:hover {
	color: #000000;
}

.logo {
	float: left;
	margin-left: 50px;
}

.register {
	float: right;
	display: block;
	color: #b11204;
	margin-right: 80px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 22px;
	font-style: italic;
}

.button {
	width: 178px;
	height: 43px;
	display: block;
	color: #ffffff;
	background-color: #b11204;
	margin-top: 0px;
	margin-left: 60px;
	border-radius: 20px;
	text-align: center;
	font-size: 22px;
	padding-top: 9px;
	font-style: italic;
	z-index: -1;
}